.contactContainer {
  height: fit-content;
  margin-bottom: 20vh;
  overflow-x: hidden;
  width: 100%;
}
.head {
  color: white;
  font-size: 15vh;
  margin-top: 200px;
}
.subHead {
  font-size: 10vh;
}
.contact {
  color: white;
  width: 70%;
  margin: 10vh auto 5vh auto;
  text-align: left;
}

h1 {
  font-size: 50px;
}

.contact section p {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
}

.platforms div {
  color: red;
  margin: 10px;
  cursor: pointer;
  font-size: larger;
  transition: transform 0.3s ease-in-out;
}

.platforms div i {
  color: white;
  font-size: larger;
}
.platforms div a {
  color: red;
  text-decoration: none;
}
.platforms div:hover {
  transform: translateX(20px);
}

@media only screen and (max-width: 500px) {
  .head {
    font-size: 7vh;
  }
  .subHead {
    font-size: 5vh;
  }
  .platforms a{
    font-size: small;
  }
}
